Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
boto==2.34.0
celery==3.1.17
itsdangerous==0.24
kombu==3.0.24
mar==1.1
pytz==2014.10
requests==2.5.1
sh==1.09
wsgiref==0.1.2
